#colours{
/* float: left; */
    text-align: center;
}

.palette {
	width:  30px;
	height: 30px;
	border: 0px solid black;
	box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 1px rgba(255, 255, 255, 0.5);
	display: inline-block;
	margin:left;
	background-color:purple;
	padding: 3px;
}

.palette:hover{

opacity: 0.6;
transition: opacity 0.4s;

}

.palette.current{
	border: 3px solid grey;
	box-shadow: inset 0px 2px 2px rgba(0,0,0,0.5);
}

.radcontrol {
    position: relative;
    width: 40px;
    height: 40px;
}

#toolbox {
	background-color: black;
	width: 100%;
	padding: 1%

}

#eraser {
	float: left;
}

#plus {
	float: left;
}

#minus {
	float: left;
}

#colours {
	float: left;
}

.btn-default {
	margin-right: 10px;
}

#myCanvas {
	width: 100%;
	height: 100%;
	cursor: URL(../images/pencil32x32.png), auto;
}
